.baseTextStyle {
  font-weight: bolder;
  font-size: 20em;
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  line-height: 1;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.486), 0 0 10px rgba(0, 0, 0, 0.486);
  color: rgb(198, 61, 47);
}

.leftTextStyle {
  transform: translate(-10px, 10px);
}

.centerTextStyle {
  color: rgb(255, 155, 80);
  background-color: rgb(250, 216, 104);
  text-shadow: 0 0 10px rgb(255, 155, 80), 0 0 10px rgb(255, 155, 80),
    0 0 10px rgb(255, 155, 80);
}

.rightTextStyle {
  transform: translate(10px, -10px);
}
